[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
humanize = "*"
pandas = "*"
tqdm = "*"
sklearn = "*"
scipy = "*"
matplotlib = "*"
tensorflow = "*"

[dev-packages]
coverage = "*"
flake8 = "*"
autopep8 = "*"
jedi = "*"
rope = "*"
yapf = "*"
black = "*"
nose = "*"

[requires]
python_version = "3.6"
