[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
humanize = "*"
pandas = "*"
tqdm = "*"
sklearn = "*"
scipy = "*"
matplotlib = "*"
tensorflow = {path = "./../tensorflow_pkg/yolo/tensorflow-1.9.0rc0-cp36-cp36m-linux_x86_64.whl"}

[dev-packages]
coverage = "*"

[requires]
python_version = "3.6"
